<%= form_for(@tweet) do |f| %>

  <div class="field">
    <%= f.label :tweet_url, "Pegar acá el Tweet" %><br />
    <%= f.text_field :tweet_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
